<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaytoNaira | Account Settings</title>
    <link rel="stylesheet" href="/css/adminaside.css">
    <link rel="stylesheet" href="/css/adminaccount.css">
    <link rel="stylesheet" href="/css/adminGeneral.css">
    <link rel="icon" type="image/x-icon" href="/img/logo-img.png">

</head>

<body>
    <section class="dashboard-container">
        <%- include('../partials/adminAside') %>
            <!-- mobile dashboard end -->
            <main>
                <%- include('../partials/adminmobileHeader') %>
                    <div class="dashboard-main-top">
                        <h1>SETTINGS</h1>
                    </div>


                    <div class="flex-new">
                        <div class="main-setting">
                            <div class="second">
                                <h1>TRADE PRICES</h1>
                                <div class="inner-1">
                                    <a href="/admin/trade-plans" class="acct-statement">
                                        <h1>Reset Trade Price</h1>
                                    </a>
                                </div>

                            </div>
                            <div class="second">
                                <h1>CABLE TV</h1>
                                <div class="inner-1">
                                    <a href="" class="acct-statement">
                                        <h1>Reset tv subscriptions price</h1>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="flex-settings">
                            <div class="second">
                                <h1>ELECTRICITY</h1>
                                <div class="inner-1">
                                    <a href="" class="acct-statement">
                                        <h1>Reset Electricity Price</h1>
                                    </a>
                                </div>
                            </div>
                            <div class="second">
                                <h1>EXAM PINS</h1>
                                <div class="inner-1">
                                    <a href="" class="acct-statement">
                                        <h1>Reset Exam pins price</h1>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
            </main>
    </section>


    <script src="/js/dashboard.js"></script>
</body>

</html>