<aside>
    <div class="top-side">
        <a class="item" href="/dashboard"><img src="/images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
        <div class="toggle">
            <div class="first-line menu-bar"></div>
            <div class="second-line menu-bar"></div>
            <div class="third-line menu-bar"></div> 
        </div>
    </div>
    <div class="middle-side">
        <ul>
            <li class="tags">
                <a class="side-link" href="/dashboard">
                    <span>
                        <img src="/images/tabler-icon-layout-dashboard.png" alt="">
                        <span>Dashboard</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/airtime">
                    <span>
                        <img src="/images/tabler-icon-access-point.png" alt="">
                        <span>Buy Airtime</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/data">
                    <span>
                        <img src="/images/tabler-icon-id.png" alt="">
                        <span>buy data</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/billpayment">
                    <span>
                        <img src="/images/tabler-icon-battery-automotive.png" alt="">
                        <span>pay bills</span>
                    </span>
                </a>
            </li>

            <li class="tags">
                <a class="side-link" href="/trades">
                    <span>
                        <img src="/images/tabler-icon-battery-automotive.png" alt="">
                        <span>Trade Assets</span>
                    </span>
                </a>
            </li>

            <li class="tags">
                <a class="side-link" href="/wallet">
                    <span>
                        <img src="/images/tabler-icon-wallet.png" alt="">
                        <span>wallet</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/profile">
                    <span>
                        <img src="/images/tabler-icon-address-book.png" alt="">
                        <span>profile</span>
                    </span>
                </a>
            </li>
            <li class="tags">
                <a class="side-link" href="/setting">
                    <span>
                        <img src="/images/tabler-icon-settings.png" alt="">
                        <span>Settings</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="bottom-side">
        <div class="tags log-out">
            <a class="side-link" href="/logout">
                <span>
                    <img src="/images/tabler-icon-logout.png" alt="">
                    <span>logot out</span>
                </span>
            </a>
        </div>
    </div>
</aside>
