<div class="mobile-header">
    <a class="" href="/"><img src="../images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
    <div class="mobile-toggle">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div> 
    </div>
</div>