<aside>
    <div class="top-side">
        <a class="item" href=""><img src="../images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
        <div class="toggle">
            <div class="first-line menu-bar"></div>
            <div class="second-line menu-bar"></div>
            <div class="third-line menu-bar"></div> 
        </div>
    </div>
    <div class="middle-side">
        <ul>
            <li class="tags">
                <a class="activer" href="/dashboard"><img src="images/tabler-icon-layout-dashboard.png" alt=""></a>
                <a class=" activer" href="/dashboard">Dashboard</a>
            </li>
            <li class="tags">
                <a href="/airtime"><img src="images/tabler-icon-access-point.png" alt=""></a>
                <a href="/airtime">Buy Airtime</a>
            </li>
            <li class="tags">
                <a href="/data"><img src="images/tabler-icon-id.png" alt=""></a>
                <a href="/data">buy data</a>
            </li>
            <li class="tags">
                <a href="/billpayment"><img src="images/tabler-icon-battery-automotive.png" alt=""></a>
                <a class="item" href="/billpayment">pay bills</a>
            </li>
            <li class="tags">
                <a href="/wallet"><img src="images/tabler-icon-wallet.png" alt=""></a>
                <a class="item" href="/wallet">wallet</a>
            </li>
            <li class="tags">
                <a href="/profile"><img src="images/tabler-icon-address-book.png" alt=""></a>
                <a class="item" href="/profile">profile</a>
            </li>
            <li class="tags">
                <a href="/setting"><img src="images/tabler-icon-settings.png" alt=""></a>
                <a class="item" href="/setting">Settings</a>
            </li>
        </ul>
    </div>
    <div class="bottom-side">
        <div class="tags log-out">
            <a href="/sign-out"><img src="images/tabler-icon-logout.png" alt=""></a>
            <a class="item" href="/sign-out">Log Out</a>
        </div>
    </div>
</aside>
