<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills | Account Settings</title>
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/account.css">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/aside') %>
       <!-- mobile dashboard end -->
        <main>
            <%- include('../partials/mobileHeader') %>
           <div class="dashboard-main-top">
                <h1>About AlphaBills</h1>
                <div class="input-bar">
                    <div>
                        <img src="images/tabler-icon-bell.png" alt="">
                    </div>
                    <div class="profile-picture">
                        <img src="images/Frame 12.png" alt="profile-picture">
                    </div>
                </div>
           </div>


           <div class="main-setting">
                <div>
                    <p>AlphaBills is the new reliable and affordable way to data bundles on any Nigerian network. We offer the best prices rates for Airtel, MTN, 9mobile and Glo.CEO</p>
                    <p>Whether you are a casual surfer using just 500MB a month or a heavy data addict consuming 20GB+ monthly, we have an affordable data plan for you.</p>
                    <p>With multiple payment options and 24/7 availability, take advantage of our cheap data offering for all networks and do more in every area of your life.
                    </p>
                </div>
                <div>
                    <img src="../../images/cool 1.png" alt="About Alphabills">
                </div>
           </div>
        </main>
    </section>
    

    <script src="js/dashboard.js"></script>
</body>
</html>