<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills User Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/Maindashboard.css">
    
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/aside') %>
        <main>
            <%- include('../partials/mobileHeader') %>
           <div class="dashboard-main-top">
                <h1>Dashboard</h1>
           </div>

            <div class="dash-items">
                <div class="blue-background">
                    <div class="welcome-msg">
                        <h1>WELCOME BACK, <%= user.name %></h1>
                    </div>
                    <div class="verify-btn">
                        <a href="/wallet/fund"><button>Fund Wallet</button></a>
                    </div>
                </div>
            </div>

            <div class="airtime-area">
                <div class="main-airtime">
                    <a href="/airtime">
                        <div class="icon-box">
                            <img src="images/tabler-icon-access-point.png" alt="">
                        </div>
                        <div>
                            <h3>Buy Airtime</h3>
                            <p>purchase airtime bundle</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                    <a href="/data">
                        <div class="icon-box">
                            <img src="images/tabler-icon-id.png" alt="">
                        </div>
                        <div>
                            <h3>Top up</h3>
                            <p>purchase data bundle</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                    <a href="/billpayment">
                        <div class="icon-box">
                            <img src="images/tabler-icon-battery-automotive.png" alt="">
                        </div>
                        <div>
                            <h3>Pay a bills</h3>
                            <p>purchase your TV Cable</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                    <a href="/wallet">
                        <div class="icon-box">
                            <img src="images/tabler-icon-wallet.png" alt="">
                        </div>
                        <div>
                            <h3>Fund wallet</h3>
                            <p>easy payment method</p>
                        </div>
                    </a>
                </div>
            </div>
            <%- include('../partials/transactions', {transactions: transactions}) %>
        </main>
    </section>
    <script src="js/dashboard.js"></script>
</body>
</html>