<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills User Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/Maindashboard.css">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/nav') %>
       <!-- mobile dashboard end -->
        <main>
            <%- include('../partials/mobileHeader') %>
           <div class="dashboard-main-top">
                <h1>Dashboard</h1>
                <div class="input-bar">
                    <div>
                        <img src="images/tabler-icon-bell.png" alt="">
                    </div>
                    <div class="profile-picture">
                        <img src="images/Frame 12.png" alt="profile-picture">
                    </div>
                </div>
           </div>


           <div class="dash-items">
                <div class="blue-background">
                    <div class="welcome-msg">
                        <h1>WELCOME BACK, TOSH!</h1>
                        <p>Verify Your Identity To Get Started.</p>
                    </div>
                    <div class="verify-btn">
                        <p></p>
                        <a href="/verify_now"><button>Verify Now</button></a>
                    </div>
                </div>
           </div>

           <div class="airtime-area">
                <div class="main-airtime">
                    <a href="/airtime">
                        <div>
                            <img src="images/tabler-icon-access-point.png" alt="">
                        </div>
                        <div>
                            <h1>Buy Airtime</h1>
                            <p>purchase airtime bundle</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                    <a href="/data">
                        <div>
                            <img src="images/tabler-icon-id.png" alt="">
                        </div>
                        <div>
                            <h1>Top up</h1>
                            <p>purchase data bundle</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                   <a href="/billpayment">
                        <div>
                            <img src="images/tabler-icon-battery-automotive.png" alt="">
                        </div>
                        <div>
                            <h1>Pay a bills</h1>
                            <p>purchase your TV Cable</p>
                        </div>
                   </a>
                </div>
                <div class="main-airtime">
                   <a href="/wallet">
                        <div>
                            <img src="images/tabler-icon-wallet.png" alt="">
                        </div>
                        <div>
                            <h1>Fund wallet</h1>
                            <p>easy payment method</p>
                        </div>
                   </a>
                </div>
           </div>

           <div class="history">
                <h1>ALL HISTORY</h1>
           </div>

           <div class="history-table">
                <table>
                    <div>
                        <tr class="table-head">
                            <th>Transaction</th>
                            <th>Amount(NGN)</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                        <tr class="table-data">
                            <td class="bundle"><img src="images/tabler-icon-access-point.png" alt=""> Airtime Bundle</td>
                            <td>-N20,000</td>
                            <td>Sent</td>
                            <td>3-23-2023</td>
                        </tr>
                        <tr class="table-data">
                            <td class="bundle"><img src="images/tabler-icon-id.png" alt=""> Data Bundle</td>
                            <td>-N20,000</td>
                            <td>Sent</td>
                            <td>3-23-2023</td>
                        </tr>
                        <tr class="table-data">
                            <td class="bundle"><img src="images/tabler-icon-access-point.png" alt=""> Airtime Bundle</td>
                            <td>-N20,000</td>
                            <td>Sent</td>
                            <td>3-23-2023</td>
                        </tr>
                        <tr class="table-data">
                            <td class="bundle"><img src="images/tabler-icon-id.png" alt=""> Data Bundle</td>
                            <td>-N20,000</td>
                            <td>Sent</td>
                            <td>3-23-2023</td>
                        </tr>
                        <tr class="table-data">
                            <td class="bundle"><img src="images/tabler-icon-access-point.png" alt=""> Airtime Bundle</td>
                            <td>-N20,000</td>
                            <td>Sent</td>
                            <td>3-23-2023</td>
                        </tr>
                    </div>
                </table>
           </div>
        </main>
    </section>
    

    <script src="js/dashboard.js"></script>
</body>
</html>