<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills | Buy Data</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/DataPlans.css">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/nav') %>

       <!-- mobile dashboard end -->
        <main>
            <%- include('../partials/mobileHeader') %>
           <div class="dashboard-main-top">
                <h1>BUY DATA</h1>
                <div class="input-bar">
                    <div>
                        <img src="images/tabler-icon-bell.png" alt="">
                    </div>
                    <div class="profile-picture">
                        <img src="images/Frame 12.png" alt="profile-picture">
                    </div>
                    

                </div>
           </div>

           <div class="airtime">

                <div class="choose">
                    <h2>SELECT NETWORK PROVIDER</h2>
                    <select name="" id="select" value="Select Option">
                        <option value="1">Select Option</option>
                        <option value="1">MTN NG</option>
                        <option value="1">GLO</option>
                        <option value="1">9MOBILE</option>
                        <option value="1">AIRTEL NG</option>
                    </select>
                </div>
                <div class="choose">
                    <h2>CHOOSE PLAN</h2>
                    <select name="" id="select" value="Select Option">
                        <option value="1">Select Option</option>
                        <option value="1">1000 for 1.5gb</option>
                        <option value="1">500 for 1gb</option>
                        <option value="1">300 for 500mb</option>
                        <option value="1">100 for 250mb</option>
                    </select>
                </div>
           </div>


           <div class="two-divs">
                <div class="phone">
                    <h1>PHONE NO.</h1>
                    <div>
                        <select name="" id="">
                            <option value="">+234</option>
                            <option value="">+1</option>
                            <option value="">+88</option>
                            <option value="">+21</option>
                            <option value="">+54</option>
                        </select>
                        <input type="tel" name="" id="" placeholder="90 4563 763 275">
                    </div>
                </div>


                <div class="amount">
                     <h1>AMOUNT</h1>
                     <div class="input">
                         <input type="number" name="" id="" placeholder="0.00">
                         <div class="total">
                            <span>Total Bal.</span><span>N140,560</span>
                         </div>
                         <div>
                            <a href=""><button class="share">share</button></a>
                            <a href=""><button class="submit">Continue</button></a>
                         </div>
                     </div>
                </div>
           </div>
        </main>
    </section>
    

    <script src="js/dashboard.js"></script>
</body>
</html>