<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills | Fund Wallet</title>
    <link rel="stylesheet" href="../../css/fundwallet.css">
</head>
<body>
    <section>
        <div class="all">
            <div>
                <a href=""><img src="../../images/back-to-home.png" alt=""></a>
            </div>
            <div>
                <h1>FUND YOUR WALLET</h1>
                <div class="border-top"></div>
            </div>
            <div class="fund">
                <div>
                    <label>Card Name</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Card Number</label>
                    <input type="number">
                </div>
                <div class="flex">
                    <div>
                        <label for="">Expiry Date</label>
                        <input type="month" name="" id="">
                    </div>
                    <div>
                        <label for="">CVV</label>
                        <input type="number" placeholder="000">
                    </div>
                </div>
                <div class="amount">
                    <label for="">Amount</label>
                    <input type="number" placeholder="0.0000">
                </div>
            </div>
            <div>
                <a href=""><button>Pay Now</button></a>
            </div>
        </div>
    </section>
</body>
</html>