<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills | User Profile</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/nav') %>
       <!-- mobile end -->
        <main>
            <%- include('../partials/mobileHeader') %>
           <div class="dashboard-main-top">
                <h1>Profile</h1>
                <div class="input-bar">
                    <div>
                        <img src="images/tabler-icon-bell.png" alt="">
                    </div>
                    <div class="profile-picture">
                        <img src="images/Frame 12.png" alt="profile-picture">
                    </div>
                    
                </div>
           </div>
           <div class="container">
                <div class="firste">
                    <div class="one">
                        <div class="one-div">
                            <div>
                                <img src="images/Group 68.png" alt="">
                            </div>
                            <div class="content">
                                <h3>KYC VERIFICATION</h3>
                                <p>It also emphasizes the value that your team brings to clients in terms of expertise.</p>
                            </div>
                        </div>
                        <a class="btn" href="/verify_now"><button>Edit</button></a>
                    </div>
                    <div class="one">
                        <div class="one-div">
                            <div>
                                <img src="images/Group 67.png" alt="">
                            </div>
                            <div class="content">
                                <h3>TWO STEP VERIFICATION</h3>
                                <p>It also emphasizes the value that your team brings to clients in terms of expertise.</p>
                            </div>
                        </div>
                        <a class="btn" href="/verify_now"><button>Verify</button></a>
                    </div>
                    <div class="three">
                        <div>
                            <img src="images/Group 66.png" alt="">
                        </div>
                        <h3>SHOW AVAILABLE BALANCE</h3>
                        <div>
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="seconde">
                    <div class="profile">
                        <img class="userpic" src="" alt="profile">
                        <div class="name">
                            <input class="username" type="text" value="ALIMI MOHAMMED-JAMIU">
                            <img src="images/tabler-icon-edit.png" alt="">
                        </div>
                    </div>
                    <form action="">
                        <div class="field">
                            <input type="email" name="" id="" value="Talk2jays0x@gmail.com" >
                            <button class="view-input"><img src="images/tabler-icon-edit.png" alt=""></button>
                        </div>
                        <div class="field">
                            <input type="text" name="" id="" value="+2349168243714" >
                            <button class="view-input"><img src="images/tabler-icon-edit.png" alt=""></button>
                        </div>
                        <div class="field">
                            <input type="password" name="" id="input" value="dhakjsjhaljdhak" placeholder="">
                            <button class="view-input"><img src="images/tabler-icon-edit.png" alt=""></button>

                        </div>
                        <div class="show">
                            <input type="checkbox" name="" id="check">
                            <span class="password">Show Password</span>
                        </div>
                        <button class="update">Update</button>
                    </form>
                </div>
            </div>
        </main>
    </section>
    

    <script src="js/profile.js"></script>
    <script src="js/dashboard.js"></script>
</body>
</html>