<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills | User Wallet</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/wallet.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <section class="dashboard-container">
        <aside>
            <div class="top-side">
                <a class="item" href=""><img src="images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
                <button class="toggle">
                    <div class="first-line"></div>
                    <div class="second-line"></div>
                    <div class="third-line"></div> 
                </button>
            </div>
            <div class="dashboard tags">
                <a class="activer" href="/dashboard"><img src="images/tabler-icon-layout-dashboard.png" alt=""></a>
                <a class=" activer" href="/dashboard">Dashboard</a>
            </div>
            <div class="middle-side">
                <div class="tags">
                    <a  href="/airtime"><img src="images/tabler-icon-access-point.png" alt=""></a>
                    <a href="/airtime">Buy Airtime</a>
                </div>
                <div class="tags">
                    <a href="/data"><img src="images/tabler-icon-id.png" alt=""></a>
                    <a href="/data">buy data</a>
                </div>
                <div class="tags">
                    <a href="/billpayment"><img src="images/tabler-icon-battery-automotive.png" alt=""></a>
                    <a class="item" href="/billpayment">pay bills</a>
                </div>
                <div class="tags  active">
                    <a href="/wallet"><img src="images/tabler-icon-wallet.png" alt=""></a>
                    <a class="item" href="/wallet">wallet</a>
                </div>
                <div class="tags">
                    <a href="/profile"><img src="images/tabler-icon-address-book.png" alt=""></a>
                    <a class="item" href="/profile">profile</a>
                </div>
                <div class="tags">
                    <a href="/setting"><img src="images/tabler-icon-settings.png" alt=""></a>
                    <a class="item" href="/setting">Settings</a>
                </div>
            </div>
            <div class="bottom-side">
                <div class="tags log-out">
                    <a href="/sign-out"><img src="images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="/sign-out">Log Out</a>
                </div>
            </div>
       </aside>

       <!-- mobile dashboard  -->
       
       <div>
        <button class="toggle-two">
            <div class="first-line"></div>
            <div class="second-line"></div>
            <div class="third-line"></div> 
           </button>
       </div>

       <nav class="nav">
            <div class="top-side">
                <a href=""><img src="images/ALPHABILLS STRAIGHT 1.png" alt=""></a>
            </div>
            <div class="dashboard tags">
                <a class="activer" href="/dashboard"><img src="images/tabler-icon-layout-dashboard.png" alt=""></a>
                <a class=" activer" href="/dashboard">Dashboard</a>
            </div>
            <div class="middle-side">
                <div class="tags">
                    <a  href="/airtime"><img src="images/tabler-icon-access-point.png" alt=""></a>
                    <a href="/airtime">Buy Airtime</a>
                </div>
                <div class="tags">
                    <a href="/data"><img src="images/tabler-icon-id.png" alt=""></a>
                    <a href="/data">buy data</a>
                </div>
                <div class="tags ">
                    <a href="/billpayment"><img src="images/tabler-icon-battery-automotive.png" alt=""></a>
                    <a href="/billpayment">pay bills</a>
                </div>
                <div class="tags active">
                    <a href="/wallet"><img src="images/tabler-icon-wallet.png" alt=""></a>
                    <a href="/wallet">wallet</a>
                </div>
                <div class="tags">
                    <a href="/profile"><img src="images/tabler-icon-address-book.png" alt=""></a>
                    <a href="/profile">profile</a>
                </div>
                <div class="tags">
                    <a href="/setting"><img src="images/tabler-icon-settings.png" alt=""></a>
                    <a href="/setting">Settings</a>
                </div>
            </div>
            <div class="bottom-side">
                <div class="tags log-out">
                    <a href="/sign-out"><img src="images/tabler-icon-logout.png" alt=""></a>
                    <a class="item" href="/sign-out">Log Out</a>
                </div>
            </div>
        </nav class="nav">

       <!-- mobile dashboard end -->
        <main>
           <div class="dashboard-main-top">
                <h1>WALLET</h1>
                <div class="input-bar">
                    <div>
                        <img src="images/tabler-icon-bell.png" alt="">
                    </div>
                    <div class="profile-picture">
                        <img src="images/Frame 12.png" alt="profile-picture">
                    </div>
                </div>
           </div>

          <div class="main-page">
            <div class="payment">
                <p>Available balance <span id="toggle-balance" class="open" onclick="change()"><i class="ri-eye-line"></i></span> <span id="toggle-balance" class="close" onclick="changer()"><i class="ri-eye-off-line"></i></span></p>
                <input id="balance" value="N 14,2000" type="text"/>
                <p>Estimated Of Total Wallet</p>
           </div>

           <div class="wallet-area">
                <div class="linear-gradient">
                    <div class="domain">
                        <p>Domain Account</p>
                        <span>2344566677777</span>
                    </div>

                    <div class="btn-group">
                        <a href="/wallet/receive"><button class="btn-1">Recieve</button></a>
                        <a href="/wallet/fund"><button class="btn-2">Fund Wallet</button></a>
                    </div>
                </div>
           </div>

           <div class="history-table">
            <table>
                <div>
                    <tr class="table-head">
                        <th>Transaction</th>
                        <th>Amount(NGN)</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                    <tr class="table-data">
                        <td class="bundle"><img src="images/tabler-icon-access-point.png" alt=""> Airtime Bundle</td>
                        <td>-N20,000</td>
                        <td>Sent</td>
                        <td>3-23-2023</td>
                    </tr>
                    <tr class="table-data">
                        <td class="bundle"><img src="images/tabler-icon-id.png" alt=""> Data Bundle</td>
                        <td>-N20,000</td>
                        <td>Sent</td>
                        <td>3-23-2023</td>
                    </tr>
                    <tr class="table-data">
                        <td class="bundle"><img src="images/tabler-icon-access-point.png" alt=""> Airtime Bundle</td>
                        <td>-N20,000</td>
                        <td>Sent</td>
                        <td>3-23-2023</td>
                    </tr>
                    <tr class="table-data">
                        <td class="bundle"><img src="images/tabler-icon-id.png" alt=""> Data Bundle</td>
                        <td>-N20,000</td>
                        <td>Sent</td>
                        <td>3-23-2023</td>
                    </tr>
                    <tr class="table-data">
                        <td class="bundle"><img src="images/tabler-icon-access-point.png" alt=""> Airtime Bundle</td>
                        <td>-N20,000</td>
                        <td>Sent</td>
                        <td>3-23-2023</td>
                    </tr>
                </div>
            </table>
       </div>
          </div>
        </main>
    </section>
    

    <script src="js/dashboard.js"></script>
    <script src="js/wallet.js"></script>
</body>
</html>