*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tab {
    /* overflow: hidden; */
    border: 1px solid #ccc;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #fafafa;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .file-upload{
    display: none;
  }

  .file-upload-label{
    padding: 12px;
    background-color: blue;
    cursor: pointer;
    color: #ccc;
    margin: 12px;
  }