<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay To Naira | Blog Section</title>
    <link rel="stylesheet" href="/css/blog.css">

</head>
<body>
    <div><%- include('../partials/mobileHeader') %></div>
    <section class="blog">
        <div class="blog-head">
            <img class="blog-img-head" src="./img/Frame 177@2x.png" alt="">
            <h3 class="blog-head-h3">Your Source for Reliable Information</h3>
            <p class="blog-head-p">Discover a collection of the most trusted blogs that offer valuable insights and information on a wide range of topics.</p>
        </div>
        <div class="blog-content">
            <a class="inner-blog-post" href="">
                <div>
                    <img class="blog-content-img" src="./img/Rectangle 41.png" alt="">
                </div>
                <div>
                    <div class="date">
                        <p>07 June, 2023</p>
                        <p>•PayPal</p>
                    </div>
                </div>
                <div>
                    <b>The Financial Guru</b> 
                    <p>The Financial Guru provides expert advice on personal finance, investing, and wealth management. It's your destination for smart money decisions.</p>
                </div>
            </a>

            <a class="inner-blog-post" href="">
                <div>
                    <img class="blog-content-img" src="./img/Rectangle 41.png" alt="">
                </div>
                <div>
                    <div class="date">
                        <p>07 June, 2023</p>
                        <p>•PayPal</p>
                    </div>
                </div>
                <div>
                    <b>The Financial Guru</b> 
                    <p>The Financial Guru provides expert advice on personal finance, investing, and wealth management. It's your destination for smart money decisions.</p>
                </div>
            </a>

            <a class="inner-blog-post" href="">
                <div>
                    <img class="blog-content-img" src="./img/Rectangle 41.png" alt="">
                </div>
                <div>
                    <div class="date">
                        <p>07 June, 2023</p>
                        <p>•PayPal</p>
                    </div>
                </div>
                <div>
                    <b>The Financial Guru</b> 
                    <p>The Financial Guru provides expert advice on personal finance, investing, and wealth management. It's your destination for smart money decisions.</p>
                </div>
            </a>

            <a class="inner-blog-post" href="">
                <div>
                    <img class="blog-content-img" src="./img/Rectangle 41.png" alt="">
                </div>
                <div>
                    <div class="date">
                        <p>07 June, 2023</p>
                        <p>•PayPal</p>
                    </div>
                </div>
                <div>
                    <b>The Financial Guru</b> 
                    <p>The Financial Guru provides expert advice on personal finance, investing, and wealth management. It's your destination for smart money decisions.</p>
                </div>
            </a>
        

            <a class="inner-blog-post" href="">
                <div>
                    <img class="blog-content-img" src="./img/Rectangle 41-2.png" alt="">
                </div>
                <div>
                    <div class="date">
                        <p>07 June, 2023</p>
                        <p>•PayPal</p>
                    </div>
                </div>
                <div>
                    <b>The Financial Guru</b> 
                    <p>The Financial Guru provides expert advice on personal finance, investing, and wealth management. It's your destination for smart money decisions.</p>
                </div>
            </a>

            <a class="inner-blog-post" href="">
                <div>
                    <img class="blog-content-img" src="./img/Rectangle 41-3.png" alt="">
                </div>
                <div>
                    <div class="date">
                        <p>07 June, 2023</p>
                        <p>•PayPal</p>
                    </div>
                </div>
                <div>
                    <b>The Financial Guru</b> 
                    <p>The Financial Guru provides expert advice on personal finance, investing, and wealth management. It's your destination for smart money decisions.</p>
                </div>
            </a>
            
        </div>

    
        
    </section>
     <!-- ======= Footer Section ====== -->

     <div class="footer p-20 bg-blaq text-white">
        <div class="lg:flex ">
            <div class="foot1">
                <img src="./imgs/Frame 4.png">
                <p class="lg:w-[80%]">PaytoNaira is the easiest and most secure 
                    exchange that allow users to buy and sell 
                    their paypal funds, payoneer and gift cards 
                    in Nigeria.
                </p>
            </div>
            <div class="foot2 flex flex-col gap-5  w-full ">
                <h3>Quick link</h3>
                <a href="/about-us">About us</a>
                <a href="/contact">Contact</a>
                <a href="/support">Support & FAQ</a>
                <a href="/blog">Blog</a>
            </div>
            <div class="foot3 flex flex-col w-full gap-5">
                <h3>Contact</h3>
                <a href="">info@paytonaira.com</a>
                <a href="">(+234) 91 0000 0000</a>
                <a href="">5B Taiwo road, ilorin</a>
            </div>
            <div class="foot4 flex flex-col w-full">
                <h3 class="mb-10">Subscribe to our newsletter</h3>
                <input class="p-4 px-10 rounded-lg" type="email" placeholder="Email address">
                <button class="p-1.5 px-5 bg-navy-blue rounded-lg mt-5 text-white">Subscribe now</button>
            </div>
         </div>
         <div class="lg:flex items-center justify-center gap-10 mt-10 text-white">
            <p>2023 copyright by PayToNaira. All right reserved</p>
            <a class="underline" href="/terms-condition">Terms of services</a>
            <a class="underline" href="/privacy">Privacy & Policy</a>
            <div class="social flex gap-3">
                <img src="./imgs/Group 36.png">
                <img src="./imgs/Group 37.png">
                <img src="./imgs/Group 38.png">
                <img src="./imgs/Group 39.png">
            </div>
         </div>
        </div>
</body>
</html>