<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Bills | Forgot Password</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/SignIn.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <section>
        <div class="sign-in">
            <div class="image">
                <img src="images/signin-img.png" alt="">
            </div>
            <div class="form-area">
                <div>
                    <a href="/"><img src="images/small-logo.png" alt=""></a>
                </div>
                <h1>Thank You!</h1>
                <div class="container">
                    <h3>A link to reset your password has been sent to your mail kindly check and reset your password!</h3>
                    <p class="mt-5">Click <a href="/login">here</a> to return back to login page.</p>               
                </div>
               
            </div>
        </div>
    </section>

</body>
</html>