<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/tailstyle.css">
    <link rel="stylesheet" href="css/newtail.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>Home | Pay To Naira</title>
</head>
<body>
    <div class="heropage bg-navy-blue">
        <header>
            <nav id="nav">
                <a href="/"><img src="./imgs/Frame 4.png" alt=""></a>
                <ul class="nav__link">
                    <li class="Active"><a href="/about-us">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/support">Support & FAQ</a></li>
                    <% if (user) { %>
                        <button  onclick="location.href = '/dashboard';" class="btn1">Dashboard</button>
                        <button onclick="location.href = '/trades/paypal';" class="btn2">Start trading</button>
                   <% } else{%>
                    <button  onclick="location.href = '/login';" class="btn1">Sign In</button>
                    <button onclick="location.href = '/sign-up';" class="btn2">Start trading</button>
                    <%}%>
                </ul>
                <div class="toggle-btn cursor-pointer" onclick="myfunction();">
                    <i class="fa fa-bars"></i>
                </div>
            </nav>
            <ul class="mobilenav__link">
                <li><a href="/about-us">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/support">Support & FAQ</a></li>
                <% if (user) { %>
                    <button  onclick="location.href = '/dashboard';" class="btn1">Dashboard</button>
                    <button onclick="location.href = '/trades/paypal';" class="btn2">Start trading</button>
               <% } else{%>
                <button  onclick="location.href = '/login';" class="btn1">Sign In</button>
                <button onclick="location.href = '/sign-up';" class="btn2">Start trading</button>
                <%}%>
            </ul>
        </header>

        <div class="hero flex lg:flex-row items-center text-white">
            <div class="bouy lg:p-10">
                <h1 class=" bounce lg:w-2/3 mb-2 text-4xl">Your Gateway to Financial Flexibility</h1>
                <p class="w-3/4"> PaytoNaira is the most secure way to buy and sell paypal 
                    funds, payoneer and gift cards in Nigeria at better exchange 
                    rates.
                </p>
                <button onclick="location.href = '/sign-up';"  class="bg-black text-white p-1.5 px-5 mt-5">Get Started</button>
            </div>
            <img class="mt-4" src="./imgs/image 2.png" alt="">
        </div>
    </div>
   <!-- Header and HeroPage -->

    <section class="new flex justify-center content-center  lg:ml-40 lg:p-20">
        <div class="sect">
            <h1 class="font-black text-2xl">86.3%</h1>
            <p class="lg:w-1/2">Based on reviews and analysis, 
                we got over 86% satisfactory 
                from our existing users and trade 
                partners
            </p>
        </div>
        <div class="sect  lg:border-s-4">
            <h1 class="font-black text-2xl lg:ml-5">2905</h1>
            <p class="lg:w-1/2 lg:ml-5">Based on reviews and analysis, 
                we got over 86% satisfactory 
                from our existing users and trade 
                partners
            </p>
        </div>
        <div class="sect lg:border-s-4">
            <h1 class="font-black text-2xl lg:ml-5">$314k</h1>
            <p class="lg:w-1/2 lg:ml-5">Based on reviews and analysis, 
                we got over 86% satisfactory 
                from our existing users and trade 
                partners
            </p>
        </div>
    </section>
<!--  -->
    <section class="dist p-10 lg:flex bg-Ash ">
            <div class="alltxt">
                <h2>Here's what makes us different</h2>
                <p class="w-50">Why you should trade your paypal, payoneer and giftcards on PaytoNaira</p>
                <button onclick="location.href = '/sign-up'" class= " why bg-navy-blue text-white p-1.5 px-5 mt-5">Get Started</button>
            </div>
            <div class="cards lg:flex gap-5">
               <div class="flex flex-col items-center ">
                    <div class=" child  mb-5 items-center flex flex-col bg-white p-5 rounded-lg ">
                        <img class="flex mb-5 " src="./imgs/Group 44 (2).png">
                        <h2 class="text-center font-black">Amazing Support</h2>
                        <p class=" text-center">Our helpdesk is always available and open to solve your trade issues and complaints immediately after lodged.</p>
                    </div>
                    <div class="child mb-5 items-center flex flex-col bg-white p-5 rounded-lg">
                        <img class="flex  mb-5" src="./imgs/Group 46 (1).png">
                        <h2 class="text-center font-black">Accountble</h2>
                        <p class=" text-center w-1/2">We solemnly bear responsibilities on every trade carried out on our platform and we never leave a trade behind..</p>
                    </div>
               </div>
               <div class="flex flex-col items-center">
                    <div class="child mb-5 items-center flex flex-col bg-white p-5 rounded-lg ">
                        <img class="flex mb-5 " src="./imgs/Group 45 (1).png">
                        <h2 class="text-center font-black ">Better Rates</h2>
                        <p class=" text-center w-1/2">Our exchange compared to other exchanges, offers better rates when compared to other funds exchangers..</p>
                    </div>
                    <div class="child mb-5 items-center flex flex-col bg-white p-5 rounded-lg ">
                        <img class="flex mb-5 " src="./imgs/Group 47.png">
                        <h2 class="text-center font-black">Secure</h2>
                        <p class=" text-center">Our platform is safe and secure to use and scam-free. No more losing funds to rippers..</p>
                    </div>
               </div>
            </div>
    </section>
    <!--  -->
    <section class=" lg:p-20 sm:p-5 ">
       <div class="one lg:flex justify-center items-center ">
                <img class="lg:pl-20" src="./imgs/Group 23 (1).png">
                <div class="lg:w-50% lg:pl-20">
                    <h2 class="lg:w-2/3 mb-5 text-4xl font-semibold">Nigeria's premier PayPal exchange service</h2>
                    <p class="w-">Discover the most reliable and secure PayPal exchange service in Nigeria. We are your trusted financial partner, committed to providing seamless transactions and top-notch customer service.</p>
                    <div class="alone flex items-center mt-5">
                        <a href="#">Get Started</a>
                        <div class="bg-navy-blue p-1 w-5"></div>
                    </div>
                </div>
       </div>
    </section>
    <section class="lg: p-5 sm:p-5 ">
        <div class="three flex justify-center items-center ">
                 <div class="lg:w-50% lg:pl-20 sm:w-100%">
                     <h2 class="lg:w-2/3 mb-5 text-4xl font-semibold">Your top choice for card-to-cash trades</h2>
                     <p class="w-">Unlock the power of your unused gift cards by trading them for instant cash. We're your go-to platform for secure and efficient gift card-to-cash transactions.</p>
                     <div class="flex items-center mt-5">
                         <a href="#">Get Started</a>
                         <div class="bg-navy-blue p-1 w-5"></div>
                     </div>
                 </div>
                 <img class="lg:pl-20" src="./imgs/Group 22 (1).png">

        </div>
     </section>
     <section class="lg: p-5 ">
        <div class="three flex justify-center items-center ">
                 <img class="lg:pl-20" src="./imgs/Group 24 (1).png">
                 <div class="lg:w-50% lg:pl-20">
                     <h2 class="w-1/3 mb-5 text-4xl font-semibold">Cash out your cryptocurrency</h2>
                     <p class="w-">Easily transform your cryptocurrency holdings into real cash with our streamlined crypto-to-cash conversion services.</p>
                     <div class="flex items-center mt-5">
                         <a href="#">Get Started</a>
                         <div class="bg-navy-blue p-1 w-5"></div>
                     </div>
                 </div>
        </div>
     </section>
  <!--  -->
     <section class="news flex flex-col justify-center items-center ">
         <div class="txt flex flex-col justify-center items-center">
            <h3 class="text-center font-black mb-3">Real-life use cases that matters</h3>
            <p class="adj-p lg:w-1/2 text-center justify-center items-center mb-3 ">These use cases showcase how we facilitate seamless transactions, whether you're a student, freelancer, traveler, or investor.</p>
         </div>
         <img class="txt2" src="./imgs/Frame 172.png">
     </section>
     <!--  -->

     <section class="moh flex flex-col justify-center items-center bg-navy-blue lg:p-20 text-white mt-20">
        <h3 class="sct text-3xl font-black mb-3">Ready to Experience Financial Freedom?</h3>
        <p>Join Paytonaira Today and Start Simplifying Your Transactions!</p>
        <button class="bg-black text-white p-1.5 px-5 mt-5">Get Started</button>
     </section>
     <!--  -->

     <div class="footer p-20 bg-blaq text-white">
        <div class="lg:flex ">
            <div class="foot1">
                <img src="./imgs/Frame 4.png">
                <p class="lg:w-[80%]">PaytoNaira is the easiest and most secure 
                    exchange that allow users to buy and sell 
                    their paypal funds, payoneer and gift cards 
                    in Nigeria.
                </p>
            </div>
            <div class="foot2 flex flex-col gap-5  w-full ">
                <h3>Quick link</h3>
                <a href="/about-us">About us</a>
                <a href="/contact">Contact</a>
                <a href="/support">Support & FAQ</a>
                <a href="/blog">Blog</a>
            </div>
            <div class="foot3 flex flex-col w-full gap-5">
                <h3>Contact</h3>
                <a href="">info@paytonaira.com</a>
                <a href="">(+234) 91 0000 0000</a>
                <a href="">5B Taiwo road, ilorin</a>
            </div>
            <div class="foot4 flex flex-col w-full">
                <h3 class="mb-10">Subscribe to our newsletter</h3>
                <input class="p-4 px-10 rounded-lg" type="email" placeholder="Email address">
                <button class="p-1.5 px-5 bg-navy-blue rounded-lg mt-5 text-white">Subscribe now</button>
            </div>
         </div>
         <div class="lg:flex items-center justify-center gap-10 mt-10 text-white">
            <p>2023 copyright by PayToNaira. All right reserved</p>
            <a class="underline" href="/terms-condition">Terms of services</a>
            <a class="underline" href="/privacy">Privacy & Policy</a>
            <div class="social flex gap-3">
                <img src="./imgs/Group 36.png">
                <img src="./imgs/Group 37.png">
                <img src="./imgs/Group 38.png">
                <img src="./imgs/Group 39.png">
            </div>
         </div>
        </div>
     

    <script>
        function myfunction() {
        var toggle = document.querySelector('.mobilenav__link')
        toggle.classList.toggle('display')
        }
    </script>
</body>
</html>