<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailstyle.css">
    <link rel="stylesheet" href="css/newtail.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>AlphaBills | Buy Reputable databundle and airtime at affordable prices in Nigeria</title>
</head>
<body>
    <div class="hero bg-sky-500 bg-[url('/image/herorec.png')] bg-no-repeat bg-cover  p-6 w-[100%]  ">
        <div class="bar w-[70%] flex rounded-3xl p-4 bg-white items-center justify-evenly ml-40 static">
            <img src="image/ALPHABILLS STRAIGHT 1.png" alt="">
            <div class="menu lg:block md:hidden">
                    <li class="list-none">
                        <a class="mr-6" href="">About Us</a>
                        <a class="mr-6" href="">Bills</a>
                        <a class="mr-6" href="https://chat.whatsapp.com/GktoSxKHEShJS8j2kuUnZb">Support</a>
                    </li>
            </div>
            <div class="buttons lg:block md:hidden">
                <button class=" px-4 p-1 border border-black rounded-md"><a href="/login">Sign in</a></button>
                    <button class=" px-4 p-1 bg-black text-white rounded-md"><a href="/sign-up">Register</a></button>
            </div>
           <div class="lg:hidden md:block">
            <button onclick="myfunction()">
              <img class="toggle-btn" src="image/Group 44 (1).png" alt="">
            </button>
           </div>
        </div>
        <div class="mobile-menu">
            <li class="mobilenav-link ">
                <a class="mr-6" href="">About Us</a>
                <a class="mr-6" href="">Bills</a>
                <a class="mr-6" href="">Support</a>
                <div class="button-mobile">
                    <button class=" px-4 p-1 border border-black rounded-md"><a href="/login">Sign in</a></button>
                    <button class=" px-4 p-1 bg-black text-white rounded-md"><a href="/sign-up">Register</a></button>
                </div>
            </li>
        </div>
        <div class="hero-page flex md::flex-col lg:flex-row items-center justify-center text-white w-[100%] ml-5">
            <div class="hero-page1">
                <h1 class="text-3xl w-3/4 mb-5">The Ultimate Online Bill Payment Solution</h1>
                <p class="w-[75%] mb-5">Say goodbye the stress of due dates, late fees and missed Payment.</p>
                <button class="bg-black text-white rounded-md px-8 p-2 mb-5"><a href="/sign-up">Get Started</a></button>
                <div class=" other flex items-center mb-5">
                    <div class="bg-white p-0.5 w-1/4"></div>
                    <P class="mx-2">Or</P> 
                    <div class="bg-white w-1/4 p-0.5"></div>
                </div>
                <div class="download2 flex items-center gap-4 mt-5">
                   <div class="down flex items-center bg-black text-white p-4 rounded-2xl gap-2">
                        <img src="image/image 11.png" alt="">
                        <a href="">Download On PlayStore</a>
                   </div>
                   <div class=" up flex items-center bg-black text-white p-4 rounded-2xl gap-2 ">
                        <img src="image/image 12.png" alt="">
                        <a href="">Download On AppStore</a>
                   </div>
                </div>
            </div>
            <div class="hero-page2">
            <img class="w-[90%] ml-5" src="image/Group 42.png" alt="">
            </div>
        </div>
    </div>

    <section class="bayo flex flex-col justify-center items-center">
        <div class="ade flex items-center justify-center flex-col">
            <h1 class="w-[35%] text-3xl pt-10 pb-3">Streamline Bills Payments with 50+ Service Providers</h1>
            <p class="w-[60%] pb-10">We've partnered with over 50+ renowned service providers and brands to offer you a comprehensive platform for managing and paying your bills effortlessly</p>
        </div>
        <div class=" shy grid sm: grid-cols-2 md:grid-cols-3 lg:grid-cols-5 p-8 gap-4">
            <img src="image/Group 22.png" alt="">
            <img src="image/Group 21.png" alt="">
            <img src="image/Group 20.png" alt="">
            <img src="image/Group 19.png" alt="">
            <img src="image/Group 18.png" alt="">
            <img src="image/Group 27.png" alt="">
            <img src="image/Group 23.png" alt="">
            <img src="image/Group 24.png" alt="">
            <img src="image/Group 26.png" alt="">
            <img src="image/Group 25.png" alt="">
        </div>
    </section>
    <section class="shot flex section-two w-[100%]">
        <div class="guy flex  justify-center items-center">
            <div class="sector">
                <div class="one text-white">
                    <h1 class="w-[30%] text-2xl mb-5"> Get the Best Data Bundle and Airtime Rates!</h1>
                    <P class="w-[50%] mb-10">Discover unbeatable deals on data bundles and airtime with us! Enjoy the best rates and never overpay for your mobile needs again. Start saving today</P>
                    <a class=" bg-black text-white px-8 p-3 rounded-md gap-2" href="/sign-up">Get Started</a>
                </div>
            </div>
            <img class="w-[30%]" src="image/image 15.png" alt="">
        </div>
    </section>
    <section class="guy2 lg:flex justify-center items-center mt-10 ">
        <div class="omo  text-white">
            <h1 class="w-[30%] text-2xl mb-5">Enjoy Your Favorite Music and Movies Stress-Free!</h1>
            <p class="w-[50%] mb-10">Experience uninterrupted entertainment! Stream your beloved music and movies without a hitch. Relax and enjoy endless entertainment with ease.</p>
            <a class="bg-blue-800 text-white px-8 p-3 rounded-md gap-2 " href="/sign-up">Get Started</a>
        </div>
        <img class="w-[30%]" src="image/sectimg2 (2).png" alt="">
    </section>
    <section class=" ash flex items-center justify-center mt-10 p-10">
        <div>
            <h1 class="w-[30%] text-2xl mb-5">Internet Connectivity, Anytime, Every Day</h1>
            <p class="w-[60%] mb-10">Experience the internet without boundaries! Stay connected effortlessly, 24/7, and enjoy a world of possibilities at your fingertips. Say goodbye to downtime and hello to uninterrupted online adventures</p>
            <a class=" bg-black text-white px-8 p-3 rounded-md gap-2" href="/sign-up">Get Started</a>
        </div>
        <img src="image/Group 43.png" alt="">
    </section>
    <section class="bundle flex flex-col items-center justify-center mt-10">
        <h2 class="text-4xl">It’s easy to get started</h1>
        <p class="bund">Say goodbye to the stress of due dates, late fees, and missed payments</p>
        <div class="cardes lg:flex gap-5 items-center justify-center mt-5">
            <div class="card1 flex flex-col items-center text-center w-[30%] bg-[url('/dist/image/rectangle.png')] bg-no-repeat bg-cover">
                <img class="mb-5 mt-10" src="image/Group 30.png" alt="">
                <h1 class="text-2xl mb-5">Create your Account</h1>
                <p class="w-[60%] mb-5">Get the ball rolling by signing up on our user friendly web app or by downloading our mobile app. Setting up your AlphaBills account is quick and 
                hassle free.</p>
            </div>
            <div class="card2 flex flex-col items-center text-center w-[30%] bg-[url('/dist/image/rectangle1.png')] bg-no-repeat bg-cover">
                <img class="mb-5 mt-10" src="image/Group 31.png" alt="">
                <h1 class="text-2xl mb-5">Add funds to your wallets</h1>
                <p class="w-[60%] mb-5"> To start enjoying the convenience of AlphaBills, simply load funds into your wallet securely. You'll have complete control over your finances at your fingertips</p>
            </div>
            <div class="card3 flex flex-col items-center text-center w-[30%] bg-[url('/dist/image/rectangle2.png')] bg-no-repeat bg-cover">
                <img class="mb-5 mt-10" src="image/Group 32.png" alt="">
                <h1 class="text-2xl mb-5">Begin your Bills</h1>
                <p class="w-[60%] mb-5"> Now that your wallet is topped up,  dive into the world of effortless bill payments. From utilities to subscriptions, AlphaBills has you covered</p>
            </div>
        </div>
    </section>
    <section class=" nw-foot flex items-center justify-center mt-10" >
        <div>
            <h1 class="text-3xl w-[50%] text">Download Our App for a Personalized Experience</h1>
            <p>Enhance your AlphaBills journey by downloading our app today!!</p>
            <div class="download flex items-center gap-4 mt-5">
                <div class="shop flex items-center bg-black text-white p-4 rounded-2xl gap-2">
                     <img src="image/image 11.png" alt="">
                     <a href="">Download On PlayStore</a>
                </div>
                <div class=" shop flex items-center bg-black text-white p-4 rounded-2xl gap-2 ">
                     <img src="image/image 12.png" alt="">
                     <a href="">Download On AppStore</a>
                </div>
             </div>
        </div>
        <img class="two" src="image/Group 46.png" alt="">
    </section>
    <section class="kult flex justify-center items-center p-10">
        <div class="foot">
            <div><img src="image/ALPHABILLS STRAIGHT 1.png" alt=""></div>
            <p class="w-[40%]">AlphaBills is your trusted partner for simplified bill management. We offer a seamless platform to pay bills, manage finances, and stay in control. Join us on the path to financial convenience today!</p>
            <p>( +234 ) 91 6824 2931</p>
            <p>alphabills4u@gmail.com</p>
        </div>
        <div class="club flex gap-10">
            <div>
                <h1 class="text-blue-700 text-2xl">Services</h1>
                <p>Data Bundle</p>
                <p>Airtime</p>
                <p>Cable TV</p>
                <p>Electricity</p>
            </div>
            <div>
                <h1 class="text-blue-700 text-2xl">Company</h1>
                <p>About Us</p>
                <p>Contact</p>
                <p>Terms of services</p>
                <p>Privacy & Policy</p>
            </div>
        </div>
    </section>
    <div class="ars flex items-center justify-center p-10">
        <h1>2023 Copyright Alphabills Ng Ltd | All Rights Reserved</h1>
    </div>

    <script>
        function myfunction() {
            var mobileMenu = document.querySelector('.mobile-menu');
            var rounded = document.querySelector(".rounded-3xl")
            mobileMenu.classList.toggle('show-menu');
            rounded.classList.toggle("clear-radius")
        }
    </script>
    
</body>
</html>