<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Bills | Sign Up Page</title>
    <link rel="stylesheet" href="css/SignUp.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/sign-up.js"></script>
<body>
    <section>
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
              <%= messages.error %>
            </div>
        <% } %>
        <% if (messages.info) { %>
            <div class="alert alert-info" role="alert">
              <%= messages.info %>
            </div>
        <% } %>
        <div class="sign-in">
            <div class="image">
                <img src="images/signin-img.png" alt="">
            </div>
            <div class="form-area">
                <div>
                    <a href="/"><img src="images/small-logo.png" alt=""></a>
                </div>
                <h1>Create An Account</h1>
                <div class="main-form">
                    <form action="/sign-up" method="post" onsubmit="return validateInputs()">
                        <p class="error">Please fill the empty space!</p>
                        <div>
                            <input type="text" name="name" id="name" placeholder="Full Name">
                        </div>
                        <div>
                            <input type="email" name="email" id="email" placeholder="Your Email">
                        </div>
                        <div>
                            <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">
                        </div>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Password">
                        </div>
                        <div>
                            <p class="pass-err">You need to confirm your password</p>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                        </div>
                        <div class="forget-pwd">
                            <span>by clicking continue means you agree to our <a href="">privacy & policy</a> and <a href="">terms & conditions</a></span>
                        </div>
                        <button type="submit" class="submit">Create Account</button>
                    </form>
                </div>
                <div class="link-to-signup">
                    <span>Already have an account? <a href="/login">Sign In</a></span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>