<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Pay To Naira Platform!</title>
    <link rel="stylesheet" href="/css/email.css">

</head>
<body>

    <section class="email-container">

        <h1>Dear <%= name %> Welcome to PaytoNaira, your gateway to seamless financial transactions! 🌟</h1>

        <p>We're thrilled to have you on board as a newly registered user. At PaytoNaira, we understand the importance of flexibility and convenience when it comes to managing your finances. Whether you have PayPal funds, Payoneer funds, cryptocurrencies, or gift cards, we've got you covered.</p>

        <p>Our platform is designed with your needs in mind, making it effortless to exchange your digital assets for Naira, putting the power of your finances back in your hands.</p>

        <h2>Here's what you can expect as a member of our vibrant community:</h2>
        <ol>
            <li>✨ Swift and secure transactions</li>
            <li>✨ Competitive exchange rates</li>
            <li>✨ Friendly and responsive customer support</li>
            <li>✨ A wide range of supported payment options</li>
        </ol>

        <p>Start exploring all that PaytoNaira has to offer today. Your financial freedom awaits! If you ever have questions or need assistance, our dedicated team is here to assist you every step of the way.</p>

        <p>Thank you for choosing PaytoNaira. We look forward to being your trusted partner on your financial journey.</p>

        <p>Warm regards, <br>
        The PaytoNaira Team 🚀</p>

    </section>
    
</body>
</html>